{% extends 'base.html.twig' %}

{% block title %}Verwerk gegevens menu{% endblock %}

{% block body %}
    <h1>Verwerk gegevens menu</h1>

    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>Ronde</th>
                <th>Check Wedstrijden Compleet</th>
                <th>Sluit Ronde af</th>
            </tr>
        </thead>
        <tbody>

        {% for ronden in aantalronden %}
            <tr style="color: white">
                <td>{{ ronden }}</td>
                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MEDEWERKER')) %}
                <td>
                    <a class="btn btn-danger" href="{{ path('check_ronde', {'id': ronden}) }}">Check Ronde {{ ronden }} </a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('sluit_ronde', {'id': ronden}) }}">Sluit Ronde {{ ronden }} </a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr style="color: white">
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {% endblock %}
